.container{
  width: 100%;
}

h2{
  text-align: center;
}
@media(width >= 768px){
  .container{
    width: 80%;
    margin-inline: auto;
  }
}

@media(width >= 1200px){
  .container{
    width: 50%;
  }
}
table{
  border-collapse: collapse;
  width: 100%;
}

th{
  font-weight: bold;
  background-color: blue;
  color: whitesmoke;
}

td,th{
  border: 1px solid ;
  padding: 1rem;
}
td{
  background-color: rgb(244, 244, 97);
}